body{
    margin: 0;
    padding: 0;
    background: url(regback.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center center;
    font-family: sans-serif;
}


.registration {
	width: 650px;
    height: 800px;
    background: #000;
    color: #fff;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
	box-shadow: inset -4px -4px rgba(0,0,0,0.5);
    opacity: 0.7;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h3{
	margin: 30px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: #fff;
}

h1{
	margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: #fff;
}
table{
	margin-top: -180px;
	padding: 20px 0 20px;
}
td{
	padding: 0 10px 10px;


}
.registration input[type="text"], input[type="password"]{
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	color: #fff;
	font-size: 16px;
	height: 40px;
}





.registration input[type="submit"]
{
    border: none;
    outline: none;
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
}
.registration input[type="submit"]:hover
{
    
    cursor: pointer;
    background: #ffc107;
    color: #000;

}